@import '~antd/dist/antd.css';

body {
  background: #dadfe8;
}

.spinner {
text-align: center;
padding-top: 40px;
}

.headerStyle {
  line-height: 20px;
  padding: 10px;
  color: white;
}
.headerWrapper {
  display: flex;
  align-items: center;
  height: 10vh!important;
}

.question-input {
  display: block;
  padding: 10px;
  border: 1px solid #dadfe8;
  margin-top: 10px;
  border-radius: 10px;
}

.input-wrapper {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.correctAnswer {
  background: green;
  color: white!important;
}

.wrongAnswer {
  background: red;
  color: white!important;
}

.ant-divider-horizontal.ant-divider-with-text {
  white-space: normal!important;
}

.header p{
  font-size: 2em;
  text-align: center;
  margin-bottom: 0!important;
}

.divider {
    margin: 8px 0!important;
}
.header {
    margin-top: 30px;
    margin-bottom: 30px;
}
